html{
	font-size: 62.5%; /*reset para rems*/
    
}

body{
	font-family: 'Anton', sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
    
}
/*GROBALES*/
.contenedor{
    background-image: url(/img/operaciones.jpg);
    background-position: center center;
	max-width: 138rem;
    
	
}

.contenido-header{
	max-width: 120rem;
	margin: 0 10px 0 10px;
}

.titulo{
    color:#000066;
    text-align: center;
    padding: 15rem 15rem 20rem 15rem;
    font-family: fantasy;
    font-size: 80px;
}
.tituloP{
    
    background-size: cover; 
    width:1330px ;
    min-height: 30rem;
}

p{
    text-align: center;
    width:1330px ;
}
.texto{
    text-justify: auto;
    margin: .5rem;
}

}
.btn {
    float: none;
    align-items:center;
    margin: 1rem;
    padding: 2rem;
}

#suma{
    cursor:wait;
    color: black;
    background: transparent;
    font-size: 1.3rem
}


#Resta{
    cursor:wait;
    color: black;
    background: transparent;
    font-size: 1.3rem
}



#Multiplicacion{
    cursor:wait;
    color: black;
    background: transparent;
    font-size: 1.3rem
}



#Divicion{
    cursor:wait;
    color: black;
    background: transparent;
    font-size: 1.3rem
}










#mostrar{
     cursor:crosshair;
    color: black;
     background: transparent;
    font-size: 1.3rem
}

#ocultar{
    cursor:grab;
    color: black;
     background: transparent;
    font-size: 1.3rem
}

#cssborde{
    cursor:help;
    color: black;
    background: #eb94d0;
     background: transparent;
    font-size: 1.3rem
    
}